body, html {
  width: 100%;
  text-align: center;
  font-family: helvetica, sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 42px;
}

.huge {
  font-size: 68px;
}

/* LEFT PANEL STYLES */

#left {
  width: 48%;
  height: 600px;
  display: inline-block;
  float: left;
  border-right: 2px solid #000;
  padding-top: 80px;
}

#guesses {
  height: 100px;
  width: 100%;
}

#guesses ul {
  width: 75%;
  height: 60%;
  border: 1px solid #000;
  margin: 40px auto;
}

#guesses ul li {
  display: inline;
  height: 40px;
  width: 80px;
  margin: 15px;
  font-size: 44px;
}

#input-field {
  width: 50%;
  height: 40px;
  font-size: 24px;
}

#submit-button {
  display: none;
}

/* RIGHT PANEL STYLES */

#right {
  width: 48%;
  height: 300px;
  display: inline-block;
  float: left;
}

#right img {
  margin-top: 30px;
}
